/* :root {
    --primary: black;
    --secondary:
    --dark:
    --light:
} */

header{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.main {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    margin: 1rem 1.5rem;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin: 3rem;
}

.start h1 {
    justify-content: center;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}