/* :root {
    --primary: black;
    --secondary:
    --dark:
    --light:
} */

header{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.main {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    margin: 1rem 1.5rem;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    margin: 3rem 10rem;
}

.start h1 {
    justify-content: center;
}

.start p {
    padding: 1rem;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions h2 {
    padding: 1rem;
}

.hide {
    display: none;
}

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.btn {
    padding: .5rem 1rem;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    flex-direction: column;
    /* align-items: normal; */
}

#result {
    display: flex;
    justify-content: center;
}

